@import 'launchpad.css';

$font-size: 14px;

html {
  font-size: $font-size;
  font-family: sans-serif;
  background: linear-gradient(180deg, black, blue);
  color: white;
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
