$pink: #ff2679;

body {
  line-height: 1.4;
}

h1 {
  display: block;
  margin: 0;
  font-size: 4em;
  text-align: center;
}

a {
  color: $pink;
  font-weight: bold;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.translate-y-50 {
  transform: translateY(50vh);
}

.dither {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.fullpage {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pink {
  color: $pink;
}
.bg-pink {
  background-color: $pink;
}

#launch-button {
  color: $pink;
  .absolute {
    top: 40%;
    right: 3%;
    transform: rotate(5deg);
  }
}

#hello-world {
  width: 100%;
  height: 400px;
  background-image: url('../../public/marble.png');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

ul.nostyle {
  list-style: none;
  padding-left: 0;
}

.launchChecklist {
  transform: rotate(-3deg) translateY(-12px);
  box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, .5);
}

.todoList {
  columns: 2 auto;
}

.todo {
  display: inline-block;
  width: 100%;
  margin-bottom: .5em;
  opacity: .5;
  font-weight: 400;
  label {
    cursor: pointer;
  }
  input {
    display: none;
    margin-right: .5em;
  }
  &::before {
    content: '\2718';
    margin-right: .5em;
  }
  &.completed {
    opacity: 1;
    &::before {
      content: '\2714';
      margin-right: .5em;
    }
  }
}
